.carousel-inner {
    height: 600px;

    img {
        height: 600px;
        object-fit: cover;
    }
}

@media all and (max-width:768px) {
    .carousel-inner {
        height: 300px;
    
        img {
            height: 300px;
        }
    }
}