.start-content{
    text-align: center;
    margin: 5rem 0 0 0;
}

.description {
    &__normal {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
    &__bold {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.advantages-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;

}
.advantage {
    margin: 2rem;
    width: 25%;

    &__title{
        font-size: 1.8rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1.3rem
    }
}

@media screen and (max-width: 480px){
    .advantages-wrapper {
        flex-direction: column;
    }
    .advantage {
        width: 100%;
        margin: 1rem 0 
    }
}