@import './_variables.scss';

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    img {
        margin: 1rem 0 0 0 ;
        width: 130px;
    }

    p  {
        font-size: 1.8rem;
        margin: 0 0 0.5rem 0;
    }
} 

.navbar {
    display: flex;
    background-color: $primary-color;
    justify-content: center;

   .dropdown-toggle {
       text-decoration: none;
       color: white;
   }

    > a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        margin: 5px 10px;
        border-bottom: 2px solid $primary-color;
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

.bi-list  {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        position: absolute;
        top: 0;
        transition: transform 0.4s ease-in-out;
        z-index: 1;
        width: 100%;
    }
    .dropdown-toggle-sm{
        text-decoration: none;
        color: white;
    }
    .menu-slide {
        transform: translate(0, -100%);
    }
    
    
    .bi-list {
        visibility:visible;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        z-index: 2;
    }
}


@media all and (min-width: 992px) {
	.dropdown-menu-end{ right:0; left: auto;  }
	.dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.dropdown-menu.fade-up{ top:180%;  }
	.dropdown:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    .dropdown-item:hover {transition: .3s; background-color: $primary-color; color: white;}
}	