@import '../variables';

.offer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    opacity: 0;
    background-position: right bottom;
    
    &__left{
        padding: 1rem;
        border-right: 1px solid black;
        &__title{
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        &__description{
            font-style: italic;
            margin-bottom: 0.5rem;

        }

        &__image{
            width: 15rem;
            height: 15rem;
            object-fit: cover;
        }
    }

    &__right{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;

        .bouquet{
            transition: all 0.5s ease;
            width: 10rem;    
            height: 10rem;
            object-fit: cover;
            
            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }

}

.visible {
    transition: 2s ease;
    opacity: 1;
}

.bg{
    background: linear-gradient(to left, white 50% , $secondary-color 50%);
    background-position: left bottom;
    transition: 2s ease;
    background-size: 200% 100%;
}

@media screen and (max-width: 768px) {
    .offer-wrapper {
        flex-direction: column;
        &__left{
            border-right: 0px;
            border-bottom: 1px solid black;
        }
        &__right{
        grid-template-columns: repeat(2, 1fr);
        }
    }
}