@import '../variables';

.shop-navbar {
    display: flex;
    background-color: $secondary-color;
    justify-content: center;
    
    > a {
        color: black;
        text-decoration: none;
        padding: 5px 10px;
        margin: 5px 10px;
        border-bottom: 2px solid $secondary-color;
        &:hover {
            border-bottom: 2px solid black;
        }
    }
}