.step-by-step-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem
}