.step-by-step-wrapper{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.step{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 1rem;
    max-width: 13rem;
    > .bi{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .step-by-step-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .bi-chevron-right{
        display: none;
    }
    .step{
        margin: 1rem 0;
    }
}