.page-title{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 4rem auto;
    border-bottom: 1px solid black;
    max-width: max-content;
}

.about-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .about-content-wrapper {
        &__description{
            font-size: 1.5rem;
            margin: 2rem;
        }
        &__image{
            width: 20rem;
        }
    }
}