.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.logo-wrapper img {
  margin: 1rem 0 0 0;
  width: 130px;
}
.logo-wrapper p {
  font-size: 1.8rem;
  margin: 0 0 0.5rem 0;
}

.navbar {
  display: flex;
  background-color: #252627;
  justify-content: center;
}
.navbar > a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 10px;
  border-bottom: 2px solid #252627;
}
.navbar > a:hover {
  border-bottom: 2px solid white;
}

.bi-list {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    position: absolute;
    top: 0;
    transition: transform 0.4s ease-in-out;
    z-index: 1;
    width: 100%;
  }

  .menu-slide {
    transform: translate(0, -100%);
  }

  .bi-list {
    visibility: visible;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 2;
  }
}
.carousel-inner {
  height: 600px;
}
.carousel-inner img {
  height: 600px;
  object-fit: cover;
}

.start-content {
  text-align: center;
  margin: 5rem 0 0 0;
}

.description__normal {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.description__bold {
  font-size: 1.5rem;
  font-weight: bold;
}

.advantages-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.advantage {
  margin: 2rem;
  width: 25%;
}
.advantage__title {
  font-size: 1.8rem;
  font-weight: bold;
}
.advantage__description {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .advantages-wrapper {
    flex-direction: column;
  }

  .advantage {
    width: 100%;
    margin: 1rem 0;
  }
}
.summary-bar-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(242, 239, 233, 0.7);
  margin: 3rem 0;
  opacity: 0;
}

.summary-item {
  justify-content: space-between;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.summary-item__description {
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
}
.summary-item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9rem;
  height: 2.5rem;
  margin: 1rem;
  background-color: #252627;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
.summary-item__button:hover {
  box-shadow: 2px 2px 5px gray;
  text-decoration: none;
  color: white;
}

.visible {
  transition: 2s ease;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .summary-bar-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .summary-item {
    width: 100%;
  }
}
.footer-wrapper {
  background-color: #252627;
  color: white;
  padding: 1rem 0;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid white;
}
.top-bar__email {
  margin: 0 0.5rem;
}

.bottom-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0.5rem 0;
}
.bottom-bar__left {
  width: 50%;
}
.bottom-bar__left img {
  margin: 0 1rem 0 auto;
  width: 5rem;
}
.bottom-bar__right {
  border-left: 1px solid white;
  width: 50%;
  padding: 0.5rem;
}
.bottom-bar__right .bi-facebook {
  position: absolute;
  left: calc(50% - 0.5rem);
}
.bottom-bar__right__phone-wrapper {
  display: flex;
  padding: 0.5rem 0;
}
.bottom-bar__right__phone-wrapper p {
  margin-left: 1rem;
  font-weight: bold;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content-wrapper__description {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin: 6rem;
  border-bottom: 1px solid black;
}
.about-content-wrapper__image {
  width: 50%;
}

.opinions-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(242, 239, 233, 0.7);
}
.opinions-section-wrapper__title {
  font-weight: bold;
  margin: 1rem;
  font-size: 1.5rem;
}
.opinions-section-wrapper .bi-facebook {
  margin-bottom: 1rem;
}

.opinions-wrapper {
  display: flex;
}

.opinion {
  margin: 0.5rem;
}
.opinion__text {
  font-style: italic;
}
.opinion__date {
  font-weight: bold;
}

.offer-content-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin: 6rem auto;
  border-bottom: 1px solid black;
  max-width: max-content;
}

.offer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  background-position: right bottom;
}
.offer-wrapper__left {
  padding: 1rem;
  border-right: 1px solid black;
}
.offer-wrapper__left__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.offer-wrapper__left__description {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.offer-wrapper__left__image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.offer-wrapper__right {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.offer-wrapper__right .bouquet {
  transition: all 0.5s ease;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.offer-wrapper__right .bouquet:hover {
  cursor: pointer;
  opacity: 0.7;
}

.bg {
  background: linear-gradient(to left, white 50%, rgba(242, 239, 233, 0.7) 50%);
  background-position: left bottom;
  transition: 2s ease;
  background-size: 200% 100%;
}

@media screen and (max-width: 768px) {
  .offer-wrapper {
    flex-direction: column;
  }
  .offer-wrapper__left {
    border-right: 0px;
    border-bottom: 1px solid black;
  }
  .offer-wrapper__right {
    grid-template-columns: repeat(2, 1fr);
  }
}
.modal-body {
  position: relative;
  padding: 0;
}
.modal-body .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-content__header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contact-content__city {
  font-weight: bold;
  margin-top: 1rem;
}
.contact-content__section {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.contact-content__section__description {
  padding: 0 1rem;
}
.contact-content-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin: 6rem auto;
  border-bottom: 1px solid black;
  max-width: max-content;
}

.shop__contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.shop__contact__description {
  max-width: 30rem;
  font-size: 1.5rem;
}
.shop__contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  margin: 1rem;
  background-color: #252627;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
.shop__contact__button:hover {
  color: white;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
}

.shop-navbar {
  display: flex;
  background-color: rgba(242, 239, 233, 0.7);
  justify-content: center;
}
.shop-navbar > a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px 10px;
  border-bottom: 2px solid rgba(242, 239, 233, 0.7);
}
.shop-navbar > a:hover {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 1024px) {
  .shop-navbar {
    flex-direction: column;
    align-items: center;
  }
}
.step-by-step-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.step {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 1rem;
  max-width: 13rem;
}
.step > .bi {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .step-by-step-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .bi-chevron-right {
    display: none;
  }

  .step {
    margin: 1rem 0;
  }
}
.shop-image-wrapper {
  position: relative;
}

.shop-image {
  max-height: 20rem;
  object-fit: cover;
  width: 100%;
  opacity: 0.6;
}
.shop-image-description {
  position: absolute;
  top: calc(50% - 2rem);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.shop-items-wrapper {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .shop-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.shop-item {
  position: relative;
  display: flex;
  max-width: max-content;
  box-shadow: 2px 2px 5px gray;
  margin: 1rem;
}
.shop-item__left {
  padding: 1rem;
  width: 15rem;
}
.shop-item__left__image {
  height: 20rem;
  object-fit: cover;
}
.shop-item__left__image:hover {
  cursor: pointer;
}
.shop-item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  text-align: center;
  padding: 1rem;
}
.shop-item__right__title {
  padding-bottom: 1rem;
}
.shop-item__right__description {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}
.shop-item__right__price {
  padding-bottom: 1rem;
}
.shop-item__number {
  display: flex;
  background-color: #252627;
  color: white;
  position: absolute;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .shop-item {
    width: 100%;
  }
  .shop-item__left__image {
    height: 15rem;
  }
}

/*# sourceMappingURL=index.css.map */
